body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(https://cdn.wallpapersafari.com/42/35/zibEce.jpg);
    box-sizing: border-box;
 
 }
ul li{
   display: inline-block;
   padding: 40px;
   
}
nav a:hover{
   background-color: brown;
   color: azure;
   font-size: 30px;
   border-radius: 25px;
}
nav{
   flex-direction: row;
  padding: 20px;
   display: flex;
   height: 20px;
  justify-content: center ;
  flex-basis: 50%;
  font-size: 30px;
}
nav ul li{
   background-color: rgb(169, 95, 30);
   border-radius: 25px;
   padding: 5px;
   right: 50px;
   margin: auto;
   
}
a{
   text-decoration: none;
   color: black;
}
h1{
    font-size: 100px;
    color: rgb(187, 101, 15);
   font-family: cursive;
   margin: auto;
   text-align: center;
}
article{
    
    padding: 100px;
    display: flex;
}
.row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
     }
footer{
    text-align: center;
}
.row :hover{
    background-color: brown;
    color: bisque;
}
figure{
   border: solid 1px wheat;
   padding: 20px;
   text-align: center;
}
figure img{
   border: 1px solid wheat;
   max-width: 300px;
   max-height: 300px;
   padding: 15px;
   height: 400px;
}
figcaption{
   font-size: 30px;
   color: wheat;
}
    
